In [1]:
for x in range(3):
    a=int(input("enter the value: "))
    b=int(input("enter the value: "))
    print(a+b)

enter the value: 23
enter the value: 78
101
enter the value: 45
enter the value: 23
68
enter the value: 12
enter the value: 3
15

In [1]:
for x in "ABC":
    print(" Hi This is me:",x)
    a=int(input("enter the value: "))
    b=int(input("enter the value: "))
    print(a+b)

 Hi This is me: A
enter the value: 23
enter the value: 34
57
 Hi This is me: B
enter the value: 12
enter the value: 12
24
 Hi This is me: C
enter the value: 12
enter the value: 12
24

In [3]:
city=["pune","shrirampur","sangali","nasik"]
for x in city:
    print(x)

pune
shrirampur
sangali
nasik

In [8]:
city=["pune","shrirampur","sangali","nasik"]
for x in city:
    for y in x:
        print(x,y)

pune p
pune u
pune n
pune e
shrirampur s
shrirampur h
shrirampur r
shrirampur i
shrirampur r
shrirampur a
shrirampur m
shrirampur p
shrirampur u
shrirampur r
sangali s
sangali a
sangali n
sangali g
sangali a
sangali l
sangali i
nasik n
nasik a
nasik s
nasik i
nasik k

In [9]:
city=["pune","shrirampur","sangali","nasik"]
for x in city:
    for y in x:
        print(type(x),x)

<class 'str'> pune
<class 'str'> pune
<class 'str'> pune
<class 'str'> pune
<class 'str'> shrirampur
<class 'str'> shrirampur
<class 'str'> shrirampur
<class 'str'> shrirampur
<class 'str'> shrirampur
<class 'str'> shrirampur
<class 'str'> shrirampur
<class 'str'> shrirampur
<class 'str'> shrirampur
<class 'str'> shrirampur
<class 'str'> sangali
<class 'str'> sangali
<class 'str'> sangali
<class 'str'> sangali
<class 'str'> sangali
<class 'str'> sangali
<class 'str'> sangali
<class 'str'> nasik
<class 'str'> nasik
<class 'str'> nasik
<class 'str'> nasik
<class 'str'> nasik

In [10]:
city=["pune","shrirampur","10.00","nasik"]
for x in city:
    for y in x:
        print(x,y)

pune p
pune u
pune n
pune e
shrirampur s
shrirampur h
shrirampur r
shrirampur i
shrirampur r
shrirampur a
shrirampur m
shrirampur p
shrirampur u
shrirampur r
10.00 1
10.00 0
10.00 .
10.00 0
10.00 0
nasik n
nasik a
nasik s
nasik i
nasik k

In [14]:
city=["pune","shrirampur","10.0","nasik"]
for x in city:
    for y in x:
        print(type(x),x)

<class 'str'> pune
<class 'str'> pune
<class 'str'> pune
<class 'str'> pune
<class 'str'> shrirampur
<class 'str'> shrirampur
<class 'str'> shrirampur
<class 'str'> shrirampur
<class 'str'> shrirampur
<class 'str'> shrirampur
<class 'str'> shrirampur
<class 'str'> shrirampur
<class 'str'> shrirampur
<class 'str'> shrirampur
<class 'str'> 10.0
<class 'str'> 10.0
<class 'str'> 10.0
<class 'str'> 10.0
<class 'str'> nasik
<class 'str'> nasik
<class 'str'> nasik
<class 'str'> nasik
<class 'str'> nasik

In [16]:
city=["pune","shrirampur","10.00","nasik"]
for x in city:
    for y in x:
        print(y,"************",x)

p ************ pune
u ************ pune
n ************ pune
e ************ pune
s ************ shrirampur
h ************ shrirampur
r ************ shrirampur
i ************ shrirampur
r ************ shrirampur
a ************ shrirampur
m ************ shrirampur
p ************ shrirampur
u ************ shrirampur
r ************ shrirampur
1 ************ 10.00
0 ************ 10.00
. ************ 10.00
0 ************ 10.00
0 ************ 10.00
n ************ nasik
a ************ nasik
s ************ nasik
i ************ nasik
k ************ nasik

In [30]:
city=["pune","shrirampur","nagar","nasik"]
for x in city:
    print(x[-2:])
    ab=x[-2:]
    x1=ab+x
    print()

ne

ur

ar

ik

In [34]:
city=["pune","shrirampur",10,"nasik"]
for x in city:
    
    ab=type(x)
    print(ab)

<class 'str'>
<class 'str'>
<class 'int'>
<class 'str'>

In [43]:
city=["pune","shrirampur",10,"nasik"]
for x in city:
    ab=type(x)
    if ab==str:
        print("string")
    else:
        print(" int")

string
string
 int
string

In [17]:
city=["pune","shrirampur","10.00","nasik"]
for x in city:
    print(x[0])

p
s
1
n

In [20]:
city=["pune","shrirampur","nagar","nasik"]
for x in city:
    print(x[1:3])

un
hr
ag
as

In [67]:
for x in range (5):
    for y in range (x) :
        print(y,end=" ")
    print()

0
0 1
0 1 2
0 1 2 3

In [68]:
for x in range (5):
    for y in range (x) :
        print("y",end=" ")
    print()

y
y y
y y y
y y y y

In [65]:
for x in range (5):
    for y in range (x) :
        print("x",end=" ")
    print()

x
x x
x x x
x x x x

In [23]:
city=["pune","shrirampur","nagar","nasik"]
for x in city:
    print(x[:-1])

pun
shrirampu
naga
nasi

In [62]:
marks=int(input("enter the marks..."))

if marks>=75 and marks<=100:
    print("i got distinction: ")
elif marks>=60:
    print("i got 1st class: ")
elif marks>=40:
    print("i got 2nd class: ")
elif marks>=35:
    print("pass")
elif marks<35 and marks>=0:
    print("failed.....!!!")
else:
    print("this is wrong input....")

enter the marks...45
i got 2nd class:

In [ ]:
num=int(input("enter the number"))
if num%2==0:
    print(num,"even")
else:
    print(num,"odd")

In [9]:
##Prime number
start=25
end=50
print("Primes numbers between",25,50)
for x in range(start,end):
    if x>2:
        for j in range(3,x):
            if (x % j)==0:
                break
        else:
            print(x)

Primes numbers between 25 50
29
31
37
41
43
47

In [10]:
##multiplication table
##pattern
##fabinacci series

In [13]:
#multiplication table
x=13
for i in range(1,11):
    print(x,'x',i,'=',x*i)

13 x 1 = 13
13 x 2 = 26
13 x 3 = 39
13 x 4 = 52
13 x 5 = 65
13 x 6 = 78
13 x 7 = 91
13 x 8 = 104
13 x 9 = 117
13 x 10 = 130