In [1]:
marks_new=[]

def students():
    for x in range(4):
        Marks=input("Enter the marks:  ")
        marks_new.append(Marks)
    return marks_new

In [2]:
students()

Enter the marks:  99
Enter the marks:  99
Enter the marks:  89
Enter the marks:  99

['99', '99', '89', '99']

In [3]:
name=[]
marks_new=[]
Total=[]
Average=[]
def student():
    for y in range(2):
        na=input("enter name: ")
        name.append(na)
    for x in name:
        print("Enter marks of: ",x)
        for i in range(4):
            Marks=int(input("Enter the marks:  "))
            marks_new.append(Marks)
        total=sum(marks_new)
        Total.append(total)
        average=total/len(marks_new)
        Average.append(average)
        marks_new.clear()
    return Average

In [4]:
student()

enter name: diya
enter name: sk
Enter marks of:  diya
Enter the marks:  99
Enter the marks:  88
Enter the marks:  98
Enter the marks:  99
Enter marks of:  sk
Enter the marks:  99
Enter the marks:  98
Enter the marks:  89
Enter the marks:  98

[96.0, 96.0]

In [6]:
student()

enter name: kk
enter name: siya
Enter marks of:  diya
Enter the marks:  99
Enter the marks:  89
Enter the marks:  87
Enter the marks:  98
Enter marks of:  sk
Enter the marks:  89
Enter the marks:  99
Enter the marks:  88
Enter the marks:  99
Enter marks of:  kk
Enter the marks:  89
Enter the marks:  99
Enter the marks:  89
Enter the marks:  87
Enter marks of:  siya
Enter the marks:  87
Enter the marks:  87
Enter the marks:  78
Enter the marks:  87
Enter marks of:  kk
Enter the marks:  78
Enter the marks:  88
Enter the marks:  78
Enter the marks:  88
Enter marks of:  siya
Enter the marks:  98
Enter the marks:  98
Enter the marks:  89
Enter the marks:  90

[96.0, 96.0, 91.66666666666667, 93.75, 91.0, 84.75, 83.0, 93.75]

In [14]:
def city():
    City=["Goa","Nagar","Pune"]
    for x in City:
        print("My City",x)
        ab=len(x)
        Fav_city=[]
        for y in range(ab):
            c_new=input("My Fav City :  ")
            Fav_city.append(c_new)
    return Fav_city

In [15]:
city()

My City Goa
My Fav City :  Belapur
My Fav City :  Shrirampur
My Fav City :  Nagar
My City Nagar
My Fav City :  Satara
My Fav City :  Sangali
My Fav City :  Belapur
My Fav City :  Shrirampur
My Fav City :  Nagar
My City Pune
My Fav City :  Nagar
My Fav City :  Belapur
My Fav City :  Shrirampur
My Fav City :  Satara

['Nagar', 'Belapur', 'Shrirampur', 'Satara']

In [10]:
def stud():
    Student=["Ajay","Divya","Ravi","Savi"]

    for x in Student:
        print("Details: ",x)
        a=[]

        for y in range(4):
            b=int(input("enter the Marks: "))
            a.append(b)
        d=sum(a)

        e=[]

        if d%2==0:
            z=d+75
            e.append(z)
        else:
            f=d-25
            e.append(f)
        print("Sum of The Subject :",d)
        print("Total :",e)

In [4]:
stud()

Details:  Ajay
enter the Marks: 99
enter the Marks: 99
enter the Marks: 98
enter the Marks: 89
Sum of The Subject : 385
Total : [360]
Details:  Divya
enter the Marks: 98
enter the Marks: 89
enter the Marks: 99
enter the Marks: 88
Sum of The Subject : 374
Total : [449]
Details:  Ravi
enter the Marks: 78
enter the Marks: 99
enter the Marks: 98
enter the Marks: 8
Sum of The Subject : 283
Total : [258]
Details:  Savi
enter the Marks: 89
enter the Marks: 87
enter the Marks: 99
enter the Marks: 88
Sum of The Subject : 363
Total : [338]