In [11]:
name=["komal","supriya","sapna","mayyuri"]
print(name)

['komal', 'supriya', 'sapna', 'mayyuri']

In [12]:
type(name)

list

In [13]:
name=["komal","supriya","sapna","mayyuri"]
name.append("kajal")
print(name)

['komal', 'supriya', 'sapna', 'mayyuri', 'kajal']

In [14]:
list=[]
for x in range(4):
    
    print(x)

0
1
2
3

In [17]:
marks=int(input("enter the marks..."))
if marks>=75 and marks<=100:
    print("i got distinction: ")
elif marks>=60:
    print("i got 1st class: ")
elif marks>=40:
    print("i got 2nd class: ")
elif marks>=35:
    print("pass")
elif marks<35 and marks>=0:
        print("failed.....!!!")
else:
    print("this is wrong input....")

enter the marks...67
i got 1st class:

In [18]:
for i in range (3):
    marks=int(input("enter the marks..."))
    if marks>=75 and marks<=100:
        print("i got distinction: ")
    elif marks>=60:
        print("i got 1st class: ")
    elif marks>=40:
        print("i got 2nd class: ")
    elif marks>=35:
        print("pass")
    elif marks<35 and marks>=0:
            print("failed.....!!!")
    else:
        print("this is wrong input....")

enter the marks...76
i got distinction:
enter the marks...56
i got 2nd class:
enter the marks...34
failed.....!!!

In [19]:
list=[]
for x in range(4):
    for y in range (x):
        print(y)

0
0
1
0
1
2

In [20]:
name=["komal","supriya","kajal","sapna","mayuri"]
name.remove("komal")
print(name)

['supriya', 'kajal', 'sapna', 'mayuri']

In [21]:
name.append("sayli")
print(name)

['supriya', 'kajal', 'sapna', 'mayuri', 'sayli']

In [22]:
name.pop()
print(name)

['supriya', 'kajal', 'sapna', 'mayuri']

In [23]:
name=["komal","supriya","kajal","sapna","mayuri"]
for x in range(3):
    x=input("enter the name....")
    name.append(x)
print(name)

enter the name....riya
enter the name....kaju
enter the name....kalu
['komal', 'supriya', 'kajal', 'sapna', 'mayuri', 'riya', 'kaju', 'kalu']

In [24]:
name.pop()

'kalu'

In [25]:
name.pop()
print(name)

['komal', 'supriya', 'kajal', 'sapna', 'mayuri', 'riya']

In [26]:
name.insert(1,"jaya")
print(name)

['komal', 'jaya', 'supriya', 'kajal', 'sapna', 'mayuri', 'riya']