# Q.1) Take a five student Name with marks and calculate the total and avrage of marks

In [7]:
Student=["Savita","Ravi","Divya","Komal","Sanu"]
Details=[]
for x in Student:
    for y in range(3):
        marks=int(input("Enter the Marks: "))
        Details.append(marks)
    Total=sum(Details)
    avg=Total/3
    print(Total,x)
    print(avg,x)

Enter the Marks: 99
Enter the Marks: 98
Enter the Marks: 78
275 Savita
91.66666666666667 Savita
Enter the Marks: 78
Enter the Marks: 78
Enter the Marks: 99
530 Ravi
176.66666666666666 Ravi
Enter the Marks: 78
Enter the Marks: 99
Enter the Marks: 98
805 Divya
268.3333333333333 Divya
Enter the Marks: 89
Enter the Marks: 98
Enter the Marks: 77
1069 Komal
356.3333333333333 Komal
Enter the Marks: 99
Enter the Marks: 98
Enter the Marks: 98
1364 Sanu
454.6666666666667 Sanu

# Take a 10-names and make count the string stored in a list.
- Find and show [-4: ]
- Remove the -2 position
- Add 2 items in 2, 3 position
- Pop () using remove the items
- How to clear list and show an example
- How to delete the list show the example

In [9]:
Name=["Komal","Supriya","Priya","Priyanka","Madhuri","Divya","Sanu","Sapana","Mona"]

In [10]:
Name

['Komal',
 'Supriya',
 'Priya',
 'Priyanka',
 'Madhuri',
 'Divya',
 'Sanu',
 'Sapana',
 'Mona']

In [12]:
Name[-4:]   #- Find and show [-4: ]

['Divya', 'Sanu', 'Sapana', 'Mona']

In [27]:
# Add 2 items in 2, 3 position

Name.insert(2,'Renu')

In [28]:
Name

['Ravi', 'sai', 'Renu', 'Renu', 'sai']

In [29]:
Name.insert(3,'Nikita')

In [30]:
Name

['Ravi', 'sai', 'Renu', 'Nikita', 'Renu', 'sai']

In [13]:
#Remove the -2 position

Name.remove("Sapana")

In [14]:
Name

['Komal', 'Supriya', 'Priya', 'Priyanka', 'Madhuri', 'Divya', 'Sanu', 'Mona']

In [15]:
# Pop () using remove the items
Name.pop()

'Mona'

In [16]:
Name

['Komal', 'Supriya', 'Priya', 'Priyanka', 'Madhuri', 'Divya', 'Sanu']

In [35]:
# How to delete the list show the example
del()

In [36]:
Name

['Ravi', 'sai', 'Renu', 'Nikita', 'Renu', 'sai']

In [17]:
#How to clear list and show an example
Name.clear()

In [18]:
Name

[]

# Q.3Define a dictionary with 6 keys and values pair and how to add new items in the dictionaryand show with an example

In [38]:
data={"Name" : ["Komal","Supriya","Sapana"],
     "Phone Number":[9767971466,9878789878,4567345676],
     "city":["Belapur","Umbergon","Nagar"],
      "Nic-Name":["Komu","Chakuli","Didi"],
      "Fav_Place":["Goa","Nighoj","Nashik"],
      "Fav_Fruit":["Banana","Apple","Banana"]
     }
data["Branch"]=["M.Sc","B.Sc","BCS","BCA"]

In [39]:
print(data)

{'Name': ['Komal', 'Supriya', 'Sapana'], 'Phone Number': [9767971466, 9878789878, 4567345676], 'city': ['Belapur', 'Umbergon', 'Nagar'], 'Nic-Name': ['Komu', 'Chakuli', 'Didi'], 'Fav_Place': ['Goa', 'Nighoj', 'Nashik'], 'Fav_Fruit': ['Banana', 'Apple', 'Banana'], 'Branch': ['M.Sc', 'B.Sc', 'BCS', 'BCA']}

# Q4) Perform all arithmetic operations on a function

In [43]:
num1=float(input("Please Enter the value:   "))
num2=float(input("Please Enter the value:   "))
# Addition

add=num1 +num2

# Sbstraction

sub=num1-num2

# Multiplication

mul=num1*num2

# Division

div=num1/num2

#Modules

mod=num1%num2


print("The Sum of the Two number ", add)
print("The Subsraction of the Two number ", sub)
print("The Multiplication of the Two number ", mul)
print("The Division of the Two number ", div)
print("The Modules of the Two number ", mod)

Please Enter the value:   33
Please Enter the value:   25
The Sum of the Two number  58.0
The Subsraction of the Two number  8.0
The Multiplication of the Two number  825.0
The Division of the Two number  1.32
The Modules of the Two number  8.0